In [20]:
import pandas as pd

In [21]:
from datetime import datetime

In [22]:
moonphase_df = pd.read_csv('moonphasedf.csv')

In [23]:
moonphase_df.head()

   Unnamed: 0         date          phase   time
0           0  2012 Jan 01  First Quarter  06:15
1           1  2012 Jan 09      Full Moon  07:30
2           2  2012 Jan 16   Last Quarter  09:08
3           3  2012 Jan 23       New Moon  07:39
4           4  2012 Jan 31  First Quarter  04:10

In [24]:
moonphase_df = moonphase_df.drop('Unnamed: 0', axis = 1)

In [25]:
type(moonphase_df['date'][0])

str

In [26]:
moonphase_df['date']= pd.to_datetime(moonphase_df['date'])

In [27]:
moonphase_df.head()

        date          phase   time
0 2012-01-01  First Quarter  06:15
1 2012-01-09      Full Moon  07:30
2 2012-01-16   Last Quarter  09:08
3 2012-01-23       New Moon  07:39
4 2012-01-31  First Quarter  04:10

In [29]:
import datetime
date1 = '2012-07-01'
date2 = '2019-06-06'
start = datetime.datetime.strptime(date1, '%Y-%m-%d')
end = datetime.datetime.strptime(date2, '%Y-%m-%d')
step = datetime.timedelta(days=1)
date_list=[]
while start <= end:
    date_list.append(start)
    start += step

In [34]:
all_date = pd.DataFrame(date_list)

In [37]:
moonphase_df['phase'][0]

'First Quarter'

In [51]:
phase_dict = {}
for i in range(len(moonphase_df['phase'])):
    if  moonphase_df['phase'][i] in phase_dict:
        phase_dict[moonphase_df['phase'][i]].append(moonphase_df['date'][i])
    else:
        phase_dict[moonphase_df['phase'][i]]= [moonphase_df['date'][i]]

In [59]:
phase_dict.keys()

dict_keys(['First Quarter', 'Full Moon', 'Last Quarter', 'New Moon'])

In [58]:
len(phase_dict['First Quarter'])

546

In [57]:
len(phase_dict['Full Moon'])

546

In [60]:
len(phase_dict['Last Quarter'])

546

In [61]:
len(phase_dict['New Moon'])

542

In [159]:
moonphase_df_test = moonphase_df

In [213]:
all_date_test = all_date

In [214]:
all_date_test = all_date_test.rename(columns = {0:'date'})

In [215]:
all_date_test.head()

        date
0 2012-07-01
1 2012-07-02
2 2012-07-03
3 2012-07-04
4 2012-07-05

In [216]:
phase_col = []
for i in range(len(all_date_test)):
    if all_date_test['date'][i] in phase_dict['First Quarter']:
        phase_col.append('First Quarter')
    elif all_date_test['date'][i] in phase_dict['Full Moon']:
        phase_col.append('Full Moon')
    elif all_date_test['date'][i] in phase_dict['Last Quarter']:
        phase_col.append('Last Quarter')
    elif all_date_test['date'][i] in phase_dict['New Moon']:
        phase_col.append('New Moon')
    else:
        phase_col.append('thinking')

In [217]:
all_date_test['moonphase'] = phase_col

In [218]:
all_date_test.head(30)

         date      moonphase
0  2012-07-01       thinking
1  2012-07-02       thinking
2  2012-07-03      Full Moon
3  2012-07-04       thinking
4  2012-07-05       thinking
5  2012-07-06       thinking
6  2012-07-07       thinking
7  2012-07-08       thinking
8  2012-07-09       thinking
9  2012-07-10       thinking
10 2012-07-11   Last Quarter
11 2012-07-12       thinking
12 2012-07-13       thinking
13 2012-07-14       thinking
14 2012-07-15       thinking
15 2012-07-16       thinking
16 2012-07-17       thinking
17 2012-07-18       thinking
18 2012-07-19       New Moon
19 2012-07-20       thinking
20 2012-07-21       thinking
21 2012-07-22       thinking
22 2012-07-23       thinking
23 2012-07-24       thinking
24 2012-07-25       thinking
25 2012-07-26  First Quarter
26 2012-07-27       thinking
27 2012-07-28       thinking
28 2012-07-29       thinking
29 2012-07-30       thinking

In [166]:
full_index = all_date_test.moonphase[all_date_test.moonphase == 'Full Moon'].index.tolist()

In [167]:
new_index = all_date_test.moonphase[all_date_test.moonphase == 'New Moon'].index.tolist()

In [168]:
zip_list = zip(full_index, new_index)

In [188]:
print(a)

[(2, 18), (32, 47), (61, 77), (91, 106), (120, 135), (150, 165), (180, 194), (210, 224), (239, 253), (269, 283), (298, 313), (328, 342), (357, 372), (386, 401), (416, 431), (445, 461), (474, 490), (504, 520), (534, 549), (564, 578), (593, 608), (623, 637), (653, 667), (682, 696), (712, 726), (741, 755), (770, 785), (800, 815), (829, 844), (858, 874), (888, 904), (918, 933), (947, 962), (977, 992), (1007, 1021), (1037, 1051), (1066, 1080), (1096, 1110), (1125, 1139), (1154, 1169), (1184, 1199), (1213, 1228), (1242, 1258), (1272, 1288), (1302, 1317), (1331, 1347), (1361, 1376), (1391, 1405), (1420, 1435), (1450, 1464), (1479, 1493), (1509, 1523), (1538, 1553), (1568, 1582), (1597, 1612), (1627, 1642), (1656, 1672), (1686, 1701), (1715, 1731), (1745, 1760), (1774, 1789), (1804, 1819), (1834, 1848), (1863, 1877), (1893, 1907), (1922, 1936), (1952, 1966), (1981, 1996), (2011, 2026), (2040, 2055), (2070, 2085), (2099, 2115), (2129, 2144), (2158, 2173), (2188, 2203), (2217, 2232), (2247, 2261), (2277, 2291), (2306, 2320), (2336, 2350), (2365, 2380), (2395, 2409), (2424, 2439), (2454, 2469), (2483, 2498), (2512, 2528)]

In [190]:
all_date_test.head(20)

         date  moonphase
0  2012-07-01     Waxing
1  2012-07-02     Waxing
2  2012-07-03  Full Moon
3  2012-07-04     Waning
4  2012-07-05     Waning
5  2012-07-06     Waning
6  2012-07-07     Waning
7  2012-07-08     Waning
8  2012-07-09     Waning
9  2012-07-10     Waning
10 2012-07-11     Waning
11 2012-07-12     Waning
12 2012-07-13     Waning
13 2012-07-14     Waning
14 2012-07-15     Waning
15 2012-07-16     Waning
16 2012-07-17     Waning
17 2012-07-18     Waning
18 2012-07-19   New Moon
19 2012-07-20   thinking

In [170]:
a = list(zip_list)

In [219]:
num=0
for n in range(len(a)):    
    for i in range(num, a[n][1]):
        if i < a[n][0] :
            all_date_test['moonphase'][i] = 'Waxing'
        elif i in full_index:
            all_date_test['moonphase'][i] = 'Full Moon'
        elif i in new_index:
            all_date_test['moonphase'][i] = 'New Moon'
        else:
            all_date_test['moonphase'][i] = 'Waning'
    num = a[n][1]+1

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [220]:
all_date_test['moonphase']

0          Waxing
1          Waxing
2       Full Moon
3          Waning
4          Waning
5          Waning
6          Waning
7          Waning
8          Waning
9          Waning
10         Waning
11         Waning
12         Waning
13         Waning
14         Waning
15         Waning
16         Waning
17         Waning
18       New Moon
19         Waxing
20         Waxing
21         Waxing
22         Waxing
23         Waxing
24         Waxing
25         Waxing
26         Waxing
27         Waxing
28         Waxing
29         Waxing
          ...
2502       Waxing
2503       Waxing
2504       Waxing
2505       Waxing
2506       Waxing
2507       Waxing
2508       Waxing
2509       Waxing
2510       Waxing
2511       Waxing
2512    Full Moon
2513       Waning
2514       Waning
2515       Waning
2516       Waning
2517       Waning
2518       Waning
2519       Waning
2520       Waning
2521       Waning
2522       Waning
2523       Waning
2524       Waning
2525       Waning
2526       Waning
2527       Waning
2528     New Moon
2529     thinking
2530     thinking
2531     thinking
Name: moonphase, Length: 2532, dtype: object

In [226]:
all_date_test

           date  moonphase
0    2012-07-01     Waxing
1    2012-07-02     Waxing
2    2012-07-03  Full Moon
3    2012-07-04     Waning
4    2012-07-05     Waning
5    2012-07-06     Waning
6    2012-07-07     Waning
7    2012-07-08     Waning
8    2012-07-09     Waning
9    2012-07-10     Waning
10   2012-07-11     Waning
11   2012-07-12     Waning
12   2012-07-13     Waning
13   2012-07-14     Waning
14   2012-07-15     Waning
15   2012-07-16     Waning
16   2012-07-17     Waning
17   2012-07-18     Waning
18   2012-07-19   New Moon
19   2012-07-20     Waxing
20   2012-07-21     Waxing
21   2012-07-22     Waxing
22   2012-07-23     Waxing
23   2012-07-24     Waxing
24   2012-07-25     Waxing
25   2012-07-26     Waxing
26   2012-07-27     Waxing
27   2012-07-28     Waxing
28   2012-07-29     Waxing
29   2012-07-30     Waxing
...         ...        ...
2502 2019-05-08     Waxing
2503 2019-05-09     Waxing
2504 2019-05-10     Waxing
2505 2019-05-11     Waxing
2506 2019-05-12     Waxing
2507 2019-05-13     Waxing
2508 2019-05-14     Waxing
2509 2019-05-15     Waxing
2510 2019-05-16     Waxing
2511 2019-05-17     Waxing
2512 2019-05-18  Full Moon
2513 2019-05-19     Waning
2514 2019-05-20     Waning
2515 2019-05-21     Waning
2516 2019-05-22     Waning
2517 2019-05-23     Waning
2518 2019-05-24     Waning
2519 2019-05-25     Waning
2520 2019-05-26     Waning
2521 2019-05-27     Waning
2522 2019-05-28     Waning
2523 2019-05-29     Waning
2524 2019-05-30     Waning
2525 2019-05-31     Waning
2526 2019-06-01     Waning
2527 2019-06-02     Waning
2528 2019-06-03   New Moon
2529 2019-06-04   thinking
2530 2019-06-05   thinking
2531 2019-06-06   thinking

[2532 rows x 2 columns]

In [230]:
for i in range(2529,2532):
    all_date_test['moonphase'][i] = 'Waxing'

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [231]:
all_date_test

           date  moonphase
0    2012-07-01     Waxing
1    2012-07-02     Waxing
2    2012-07-03  Full Moon
3    2012-07-04     Waning
4    2012-07-05     Waning
5    2012-07-06     Waning
6    2012-07-07     Waning
7    2012-07-08     Waning
8    2012-07-09     Waning
9    2012-07-10     Waning
10   2012-07-11     Waning
11   2012-07-12     Waning
12   2012-07-13     Waning
13   2012-07-14     Waning
14   2012-07-15     Waning
15   2012-07-16     Waning
16   2012-07-17     Waning
17   2012-07-18     Waning
18   2012-07-19   New Moon
19   2012-07-20     Waxing
20   2012-07-21     Waxing
21   2012-07-22     Waxing
22   2012-07-23     Waxing
23   2012-07-24     Waxing
24   2012-07-25     Waxing
25   2012-07-26     Waxing
26   2012-07-27     Waxing
27   2012-07-28     Waxing
28   2012-07-29     Waxing
29   2012-07-30     Waxing
...         ...        ...
2502 2019-05-08     Waxing
2503 2019-05-09     Waxing
2504 2019-05-10     Waxing
2505 2019-05-11     Waxing
2506 2019-05-12     Waxing
2507 2019-05-13     Waxing
2508 2019-05-14     Waxing
2509 2019-05-15     Waxing
2510 2019-05-16     Waxing
2511 2019-05-17     Waxing
2512 2019-05-18  Full Moon
2513 2019-05-19     Waning
2514 2019-05-20     Waning
2515 2019-05-21     Waning
2516 2019-05-22     Waning
2517 2019-05-23     Waning
2518 2019-05-24     Waning
2519 2019-05-25     Waning
2520 2019-05-26     Waning
2521 2019-05-27     Waning
2522 2019-05-28     Waning
2523 2019-05-29     Waning
2524 2019-05-30     Waning
2525 2019-05-31     Waning
2526 2019-06-01     Waning
2527 2019-06-02     Waning
2528 2019-06-03   New Moon
2529 2019-06-04     Waxing
2530 2019-06-05     Waxing
2531 2019-06-06     Waxing

[2532 rows x 2 columns]

In [232]:
all_date_test.to_csv('moonphasetodate.csv')