In [ ]:
import pandas as pd
import requests
import json

In [ ]:
data_file = '../../Datasets/NYPD_Motor_Vehicle_Collisions.csv'
df = pd.read_csv(data_file)

#### df.shape: 
* (1507923, 29)

#### df.info()
`RangeIndex: 1507923 entries, 0 to 1507922
Data columns (total 29 columns):
DATE                             1507923 non-null object
TIME                             1507923 non-null object
BOROUGH                          1055432 non-null object
ZIP CODE                         1055253 non-null object
LATITUDE                         1319709 non-null float64
LONGITUDE                        1319709 non-null float64
LOCATION                         1319709 non-null object
ON STREET NAME                   1217162 non-null object
CROSS STREET NAME                1020629 non-null object
OFF STREET NAME                  198606 non-null object
NUMBER OF PERSONS INJURED        1507906 non-null float64
NUMBER OF PERSONS KILLED         1507892 non-null float64
NUMBER OF PEDESTRIANS INJURED    1507923 non-null int64
NUMBER OF PEDESTRIANS KILLED     1507923 non-null int64
NUMBER OF CYCLIST INJURED        1507923 non-null int64
NUMBER OF CYCLIST KILLED         1507923 non-null int64
NUMBER OF MOTORIST INJURED       1507923 non-null int64
NUMBER OF MOTORIST KILLED        1507923 non-null int64
CONTRIBUTING FACTOR VEHICLE 1    1504001 non-null object
CONTRIBUTING FACTOR VEHICLE 2    1306911 non-null object
CONTRIBUTING FACTOR VEHICLE 3    97164 non-null object
CONTRIBUTING FACTOR VEHICLE 4    20199 non-null object
CONTRIBUTING FACTOR VEHICLE 5    5142 non-null object
UNIQUE KEY                       1507923 non-null int64
VEHICLE TYPE CODE 1              1503118 non-null object
VEHICLE TYPE CODE 2              1263185 non-null object
VEHICLE TYPE CODE 3              126564 non-null object
VEHICLE TYPE CODE 4              48051 non-null object
VEHICLE TYPE CODE 5              10256 non-null object
dtypes: float64(4), int64(7), object(18)
memory usage: 333.6+ MB`

#### df['DATE'].isna().sum() = 0




nump = '48'
date = '5/3/2009'
url = 'https://api.usno.navy.mil/moon/phase?date=' + date + '&nump='+ nump
r = requests.get(url)

In [3]:
df.DATE = pd.to_datetime(df.DATE)

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2019-06-02,0:00,BRONX,10469,40.877470,-73.84262,"(40.87747, -73.84262)",GUNTHER AVENUE,TILLOTSON AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4143967,Sedan,Taxi,NaN,NaN,NaN
284,2019-06-02,19:05,MANHATTAN,10002,40.717686,-73.99045,"(40.717686, -73.99045)",NaN,NaN,78 ORCHARD STREET,...,Unspecified,NaN,NaN,NaN,4143635,Sedan,NaN,NaN,NaN,NaN
311,2019-06-02,20:18,NaN,NaN,NaN,NaN,NaN,canal street,washington street,NaN,...,Unspecified,NaN,NaN,NaN,4144154,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
310,2019-06-02,20:17,BROOKLYN,11226,40.643330,-73.95973,"(40.64333, -73.95973)",OCEAN AVENUE,CORTELYOU ROAD,NaN,...,NaN,NaN,NaN,NaN,4143606,Sedan,NaN,NaN,NaN,NaN
309,2019-06-02,20:15,NaN,NaN,40.732040,-73.87034,"(40.73204, -73.87034)",LONG ISLAND EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4143492,Sedan,Sedan,NaN,NaN,NaN

In [5]:
df['TIMESTAMP']

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
1507922,2012-07-01,9:59,BRONX,10452,40.835397,-73.920305,"(40.835397, -73.920305)",EAST 167 STREET,GERARD AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,85154,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1507554,2012-07-01,15:05,MANHATTAN,10012,40.721576,-73.997760,"(40.7215756, -73.9977597)",KENMARE STREET,LAFAYETTE STREET,NaN,...,Unspecified,NaN,NaN,NaN,5297,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1507555,2012-07-01,15:07,QUEENS,11104,40.741799,-73.924665,"(40.7417991, -73.9246645)",40 STREET,47 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,238644,PICK-UP TRUCK,SMALL COM VEH(4 TIRES),NaN,NaN,NaN
1507556,2012-07-01,15:10,MANHATTAN,10003,40.731166,-73.991921,"(40.7311655, -73.9919214)",BROADWAY,EAST 9 STREET,NaN,...,Unspecified,NaN,NaN,NaN,13869,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1507557,2012-07-01,15:10,MANHATTAN,10016,40.741970,-73.980859,"(40.7419703, -73.9808593)",EAST 28 STREET,3 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,21676,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN